/* ---------- APP ---------- */

.stApp{
    background:#F4F7FC;
}

/* ---------- HEADINGS ---------- */

h1{
    color:#1E293B;
    font-weight:800;
}

h2,h3{
    color:#334155;
}

p{
    color:#64748B;
}

/* ---------- METRICS ---------- */

[data-testid="stMetric"]{

    background:white;

    border-radius:16px;

    padding:18px;

    box-shadow:0 8px 20px rgba(0,0,0,.06);

    border:1px solid #E5E7EB;

}

/* ---------- BUTTON ---------- */

.stButton button{

    width:100%;

    border-radius:12px;

    height:48px;

    font-weight:600;

}

/* ---------- FILE UPLOADER ---------- */

[data-testid="stFileUploader"]{

    border:2px dashed #3B82F6;

    border-radius:15px;

    padding:20px;

    background:white;

}